{{#link-to 'developer-list'}}Back to developers{{/link-to}}
<h3>Edit developer</h3>
<form class="edit-developer">
	<div class="ui input">
		<label for="firstName">FirstName: </label>
		{{input id="firstName" class="ui input fluid" value=this.model.firstName action=(mut this.model.firstName)}}
	</div>
	<div class="ui input">
		<label for="lastName">LastName</label>
		{{input id="lastName" className="ui" value=this.model.lastName action=(mut this.model.lastName) }}
	</div>
	<div class="dropdown-field">
		{{multi-select
				label='Role'
				isMultiple=false
				items=this.roles
				selected=this.model.role
		}}
	</div>

	<div class="dropdown-field">
		{{multi-select
				label='Frameworks'
				isMultiple=true
				items=this.frameworks
				selected=this.model.frameworks
		}}
	</div>

	<br>
	<button class="ui green basic button save" {{action "saveDeveloper"}}>Save</button>
	<button {{action "fireDeveloper" this.model.id}} class="ui red basic button">Fire</button>
</form>
